<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>college</title>
  </head>
  <body>
    <h2>{{ clg_name }}</h2>
    <p>CHMM College for Advanced Studies, established in 1995, is located near NH 47, 3 kilometres from Paripally Junction.<br>
      The college is a private, Co-ed College, which is affiliated to UGC. Situated in lush green village town Chavarcode,<br>
      The CHMM college campus is spread over a 25-acre compound.
      The studiousness of the campus atmosphere is enriched by sprawling playgrounds and other recreational facilities. </p>
  </body>
</html>
